    {% extends 'main.htm' %}
    {% block main_block %}
    <h1 class="mt-5">{{title}}</h1>
    <table class="table">
        <thead>
            <tr>
                {% for col_name in fields.keys() %}
                    <th>{{ col_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% for obj in items %}
            <tr>
                {% for field_name in fields.values() %}
                    <td>{{ obj|attr(field_name) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% endblock %}
