<!--{% extends "bucked.html" %}-->

<!--{% block menu %}-->
<!--{% include 'TopMenu.html'%}-->
<!--{% endblock %}-->

<!--{% block log %}-->


<!--    <h1>Корзина</h1>-->
<!--    {% if bucket %}-->
<!--        <table>-->
<!--            <tr>-->
<!--                <th>Блюдо</th>-->
<!--                <th>Цена</th>-->
<!--            </tr>-->
<!--            {% for dish in bucket %}-->
<!--                <tr>-->
<!--                    <td>{{ dish.nameOftheDish }}</td>-->
<!--                    <td>{{ dish.price }}</td>-->
<!--                </tr>-->
<!--            {% endfor %}-->
<!--            <tr>-->
<!--                <td style="text-align: right;"><strong>Общая сумма:</strong></td>-->
<!--                <td><strong>{{ total_price }}</strong></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    {% else %}-->
<!--        <p>Ваша корзина пуста.</p>-->
<!--    {% endif %}-->


<!--{% endblock %}-->
