{% extends "about.html" %}

{% block menu %}
{% include 'TopMenu.html'%}
{% endblock %}

{% block log %}
<style>
    section {
        text-align: center;
    }
    p {
        max-width: 800px;
        margin: 0 auto;
    }
    .restaurant-image {
        width: 50%;
        height: 100%;
        margin-bottom: 20px;
    }
</style>

<section>

    <h1>О нашем ресторане</h1>
    <h2>Хей, добро пожаловать в наш бомбический ресторан, который подарит тебе огромное колличесто новый впечетлений начинаюшихся от дизайна помещения и заканчивающихся потрясающей едой, которая никого не оставит равнодушным.</h2>
    <img class="restaurant-image" src="/static/about_1.jpg" alt="Ресторан">
</section>

<section>
    <h2>Наша история</h2>
    <p>Наш ресторан появился совершенно недавно, но уже успел получить раличные призы. В нашем ресторане уже успели побывать такие звёзды, как Рашевский Николай Михайлович, Гуртяков Александр Сергеевич и другие. </p>
</section>

<section>
    <h2>Наша философия</h2>
    <p>Философия заключается в том, чтобы доставить нашим посетителям огромное количество счастья и добра. а также мы обязуемся накормить вас потрясающей едой.</p>
</section>

<section>
    <h2>Наша команда</h2>
    <p>В нашей команде состоит один отчайный студент, который заменит вам повара, касира и официанта. Он очень хочет есть, поэтому он сделает всё, чтобы получить ваш "зачёт"</p>
<img class="restaurant-image" src="/static/about_2.jpg" alt="Ресторан">
</section>

<section>
    <h2>Акции и предложения</h2>
    <div class="offers">
        <div class="offer">
            <h3>Бесплатно всё</h3>
            <p>Акция действует на Гуртяков Александр Сергеевич. при зачёте нашего сайта Александр Сергеевич получает бесплатный ужин за счёт заведения в нашем ресторане. </p>
        </div>
        <div class="offer">
            <h3>Бесплатный напиток</h3>
            <p>При заказе от 1000р получаете бесплатный напиток</p>
        </div>
    </div>

</section>

<footer>
    <p>&copy; 2024 ООО "BeRest". Все права защищены.</p>
</footer>
{% endblock %}
